ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}
button{

    border-radius: 4px;
}

#background1{
    background-color: #d1f0f1;
}
#background2{
    background-color: rgba(7, 7, 7, 0.04);
}

img.round_corners{
    border-radius: 30px;
}

blockquote{
    font-style:italic;
    text-indent: -0.45em;
}