ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;

    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}
button{

    border-radius: 4px;
}

/*created a few styles to change the background colors of my site*/
.background1{
    background-color: #ee6d4f;
}
.background2{
    background-color: rgba(224, 194, 194, 0.2);
}
/*made a class to round out the edges of my images*/
img.round_corners{
    border-radius: 30px;
}
/*
a style the italicizes my blockquote tag
*/
blockquote{
    font-style:italic;
    text-indent: -0.45em;
}

#rightSlam{
    float:right;
}

.marginsNote{

    background-color: lightgrey;
    margin:auto;
    padding:30px;
}



.parentDiv{
    position: relative;
}

.childDiv{
    position: absolute;
    bottom: 0;
    width: 100%;
    overflow-x: hidden;

}

img{
    width:100%;
    height:auto;
}

@media (max-width: 800px) {
    img {
        width: 100%;
        float: none;
        display: block;
    }
}

.button-stretch{
    width:100%;
    padding:0;
    margin:0;

}

#myButton{

    display:block;
    background-color: indianred;
    width:100%;
}

#bio{
    width:100%;
    height:89%;
}

#radio-group {
    display: flex;
    flex-direction: row;
}

#radio-group input[type="radio"] {

}