<include href="views/header.html"></include>
<body>
<div class="container-fluid" >
    <div class="row">
        <div class="col">
            <br>
            <h6>Hot Tub Time Machines Co.</h6>
            <h6>Junior Software Development Engineer in Test</h6>
            <p>Secret Underground Lab, Straight of Gibraltar, Paid 12 Weeks</p>
        </div>

    </div>
    <div class="row background2">
        <br>
        <br>
        <div  class="row">
            <p></p>
            <p></p>
            <h3>Experience</h3>
            <hr>
        </div>
        <div class="row">
            <div class="col-8">
                <form action="#" method="post">
                <label for="bio"><h6><b>Biography</b></h6></label>
                <br>
                <input name="bio" type="textarea" class="form-control" id="bio">
            </div>
            <div class="col-4">
                <label for="gitHub"><h6><b>Github Link</b></h6></label>
                <br>
                <input name="gitHub" type="text" class="form-control" id="gitHub" value="github.com/my_github">
                <p></p>

                <label><h6><b>Years Experience</b></h6></label>
                <br>
                <div id="radio-group">

                    <input name="radio-group" type="radio"  id="0-2" value="0-2">

                    <label for="0-2">&nbsp;0-2&nbsp;&nbsp;</label>


                    <input name="radio-group" type="radio"  id="2-4" value="2-4">
                    <label for="2-4">&nbsp;2-4&nbsp;&nbsp;</label>


                    <input name="radio-group" type="radio"  id="4+"  value="4+">
                    <label for="4+">&nbsp;4+&nbsp;&nbsp;</label>
                </div>
                <p></p>
                <label><h6><b>Willing To Relocate</b></h6></label>
                <br>
                <div id="radio-group">

                    <input name="relocate" type="radio"  id="yes" value="Yes">

                    <label for="yes">&nbsp;Yes&nbsp;&nbsp;</label>


                    <input name="relocate" type="radio"  id="no" value="No">
                    <label for="no">&nbsp;No&nbsp;&nbsp;</label>


                    <input name="relocate" type="radio"  id="maybe"  value="Maybe">
                    <label for="maybe">&nbsp;Maybe&nbsp;&nbsp;</label>
                </div>
                <div class="form-group">
                    <label></label>


                    <button class="btn btn-primary" id="myButton" type="submit">Next</button>
                </div>
            </div>
            </form>
</div>
</body>