<!--Adam Wise
SDEV 328 Full Stack Development
1.21.23
Job Application1
--><include href="views/header.html"></include>
    <div class="row background2">
        <div  class="row">
            <div class="col">
                <p></p>
                <p></p>
                <h3>Experience</h3>
                <hr>
            </div>
        </div>
        <form action="#" method="post">
        <div class="row">

            <div class="col-8">
                <label for="bio"><h6><b>Biography</b></h6></label>
                <textarea id="bio" name="bio"></textarea>
                <p></p>
                <check if="{{ isset(@errors['bio']) }}">
                    <span class="err"> {{ @errors['bio'] }}</span>
                </check>
            </div>

            <div class="col-4">
                <label for="gitHub"><h6><b>Github Link</b></h6></label>
                <br>
                <input name="gitHub" type="text" class="form-control" id="gitHub" value="github.com/my_github">

                <p></p>
                <check if="{{ isset(@errors['gitHub']) }}">
                    <span class="err"> {{ @errors['gitHub'] }}</span>
                </check>
                <p></p>

                <label><h6><b>Years Experience</b></h6></label>
                <br>


                <div class="radio-group">

                    <repeat group="{{@xp}}" value="{{@exp}}">
                        <label><input type="radio" name="exp" value="{{@exp}}"> {{@exp}}&nbsp;</label>
                    </repeat>

                    <p></p>
                    <check if="{{ isset(@errors['exp']) }}">
                        <span class="err">{{@errors['exp'] }} </span>

                    </check>
                </div>

                <p></p>
                <label><h6><b>Willing To Relocate</b></h6></label>
                <br>
                <div class="radio-group">

                    <repeat group="{{@relo}}" value="{{@relocate}}">
                        <label><input type="radio" name="relocate" value="{{@relocate}}"> {{@relocate}}&nbsp;</label>
                    </repeat>

                    <p></p>
                    <check if="{{ isset(@errors['relocate']) }}">
                        <span class="err">{{ @errors['exp'] }}</span>
                    </check>
                </div>
                <div class="form-group">
                    <label></label>
                    <button class="btn btn-primary" id="myButton" type="submit">Next</button>


                </div>
            </div>

            </form>
</div>
</body>
</html>