<!--Adam Wise
SDEV 328 Full Stack Development
1.21.23
Job Application1
--><include href="views/header.html"></include>
    <div class="row background2">
        <div  class="row">
            <div class="col">
                <p></p>
                <p></p>
                <h3>Experience</h3>
                <hr>
            </div>
        </div>
        <form action="#" method="post">
        <div class="row">

            <div class="col-8">
                <label for="bio"><h6><b>Biography</b></h6></label>
                <textarea id="bio" name="bio"></textarea>

            </div>



            <div class="col-4">
                <label for="gitHub"><h6><b>Github Link</b></h6></label>
                <br>
                <input name="gitHub" type="text" class="form-control" id="gitHub" value="github.com/my_github">
                <p></p>

                <label><h6><b>Years Experience</b></h6></label>
                <br>
                <div class="radio-group">

                    <input name="radio-group" type="radio"  id="0-2" value="0-2">

                    <label for="0-2">&nbsp;0-2&nbsp;&nbsp;</label>


                    <input name="radio-group" type="radio"  id="2-4" value="2-4">
                    <label for="2-4">&nbsp;2-4&nbsp;&nbsp;</label>


                    <input name="radio-group" type="radio"  id="4+"  value="4+">
                    <label for="4+">&nbsp;4+&nbsp;&nbsp;</label>
                </div>
                <p></p>
                <label><h6><b>Willing To Relocate</b></h6></label>
                <br>
                <div class="radio-group">

                    <input name="relocate" type="radio"  id="yes" value="Yes">

                    <label for="yes">&nbsp;Yes&nbsp;&nbsp;</label>


                    <input name="relocate" type="radio"  id="no" value="No">
                    <label for="no">&nbsp;No&nbsp;&nbsp;</label>


                    <input name="relocate" type="radio"  id="maybe"  value="Maybe">
                    <label for="maybe">&nbsp;Maybe&nbsp;&nbsp;</label>
                </div>
                <div class="form-group">
                    <label></label>
                    <button class="btn btn-primary" id="myButton" type="submit">Next</button>


                </div>
            </div>

            </form>
</div>
</body>
</html>