<!--Adam Wise
SDEV 328 Full Stack Development
1.21.23
Job Application1
--><include href="views/header.html"></include>
    <div class="row background2">
        <div  class="row">
            <div class="col">
            <p></p>
            <p></p>
            <h3>Job Openings Mailing Lists</h3>
            <hr>
            <h6>Software Development Jobs</h6>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <form action="#" method="post">
                <input type="checkbox" id="javascript" name="javascript"   value="JavaScript">
                <label for="javascript"> Javascript</label>
            </div>
            <div class="col-3">
                <input type="checkbox" id="php" name="mail[]"   value="PHP">
                <label for="php"> PHP</label>
            </div>
            <div class="col-3">
                <input type="checkbox" id="java" name="mail[]"   value="Java">
                <label for="java"> Java</label>
            </div>
            <div class="col-3">
                <input type="checkbox" id="python" name="mail[]"   value="Python">
                <label for="python"> Python</label>
            </div>
            <p></p>
            <div class="col-3">
                <input type="checkbox" id="html" name="mail[]" value="HTML">
                <label for="html">HTML</label>
            </div>
            <div class="col-3">
                <input type="checkbox" id="css" name="mail[]" value="CSS">
                <label for="css">CSS</label>
            </div>
            <div class="col-3">
                <input type="checkbox" id="react" name="mail[]" value="ReactJs">
                <label for="react">ReactJs</label>
            </div>
            <div class="col-3">
                <input type="checkbox" id="node" name="mail[]" value="NodeJs">
                <label for="node">NodeJs</label>

            </div>
        </div>
        <div  class="row">
            <p></p>
            <h6>Industry Verticals</h6>
        </div>
        <div class="row">
            <div class="col-3">

                <input type="checkbox" id="saas" name="mail[]"   value="SaaS">
                <label for="saas"> SaaS</label>
            </div>
            <div class="col-3">
                <input type="checkbox" id="healthtech" name="mail[]"   value="Health Tech">
                <label for="healthtech"> Health Tech</label>
            </div>
            <div class="col-3">
                <input type="checkbox" id="agtech" name="mail[]"   value="Ag Tech">
                <label for="agtech"> Ag Tech</label>
            </div>
            <div class="col-3">
                <input type="checkbox" id="hrtech" name="mail[]"   value="HR Tech">
                <label for="hrtech"> HR tech</label>
            </div>
            <p></p>
            <div class="col-3">
                <input type="checkbox" id="industrialtech" name="mail[]" value="Industrial Tech">
                <label for="industrialtech">Industrial Tech</label>
            </div>
            <div class="col-3">
                <input type="checkbox" id="cybersec" name="mail[]" value="Cyber Security">
                <label for="cybersec">Cyber Security</label>

            </div>
        </div>

        <div class="row">
            <div class="col-4">
                <div class="form-group hidden">
                    <label for="state">State:</label>
                    <input name="state" type="text" class="form-control" id="state">
                </div>
            </div>
            <div class="col-4">
                <div class="form-group hidden">
                    <label for="phone">Phone:</label>
                    <input name="phone" type="tel" class="form-control" id="phone">
                </div>
            </div>
            <div class="col-4 ">
                <div class="form-group">
                    <label></label>
                    <button class="btn btn-primary" id="myButton" type="submit">Next</button>
                    <p></p>
                </div>
            </div>
            </form>

        </div>
    </div>

</div>
</body>
</html>