<include href="views/header.html"></include>

<div class="container-fluid" >
    <div class="row background2">
        <div class="col">
            <br>
            <h6>Hot Tub Time Machines Co.</h6>
            <h6>Junior Software Development Engineer in Test</h6>
            <p>Secret Underground Lab, Straight of Gibraltar, Paid 12 Weeks</p>
        </div>

    </div>
    <div class="row" >
        <div class="col-12">
            <ul>
                <li><a class="active" href="home">Hot Tub Time Machine Co.</a></li>
                <li><a href="personal_info.html">Apply Now</a></li>
            </ul>
        </div>
    </div>
    <div class="row background2">
        <div class="col-6 text-center">


            <br>
            <br>
            <a role="button" class="btn btn-primary" id="myButton"
               href="home">Next</a>
            <br>
            <br>

        </div>
    </div>
</div>